* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

body {
  scroll-behavior: smooth;
}

.relative {
  position: relative;
  min-height: 75vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-box {
  background-image: url("./assets/images/banner_principal.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(65%);
  position: absolute;
  inset: 0;
  z-index: -9999;
}

nav {
  width: 100%;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px 15px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(51, 51, 51, 1) 100%
  );
}

nav img {
  width: 200px;
  position: relative;
  top: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 12px;
  font-size: 24px;
  list-style: none;
  cursor: pointer;
}

nav li {
  border-right: solid 1px white;
  padding-inline: 12px;
}

nav li:last-child {
  border-right: none;
}

nav li:hover {
  color: #fdf001;
}

.header-container h1 {
  font-weight: bold;
  font-size: 38px;
  color: #ffff;
}

.header-container h2 {
  font-weight: normal;
  font-size: 24px;
  color: #ffff;
}

.contact-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 48rem;
}

.contact-whatsapp img {
  width: 280px;
  cursor: pointer;
  transition: transform 0.5s;
}

.contact-whatsapp img:hover {
  transform: scale(1.1);
}

.roller-section {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

#roller-container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding-top: 25px;
  color: #333333;
  text-align: center;
}

#roller {
  width: 70px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  transition: transform 0.5s;
}

#roller:hover {
  transform: scale(1.1);
}

.line {
  width: 90%;
  height: 1px;
  margin-inline: auto;
  background: linear-gradient(
    90deg,
    rgba(180, 180, 180, 0.5970763305322129) 0%,
    rgba(134, 134, 134, 1) 15%,
    rgba(25, 25, 25, 1) 50%,
    rgba(134, 134, 134, 1) 85%,
    rgba(180, 180, 180, 1) 100%
  );
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 150px;
  animation: fadeInLeft 0.7s 1s backwards;
}

.image-wrapper img {
  width: 600px;
  border-radius: 5px;
  background-color: #ffff;
  box-shadow: 0px 15px 30px -5px #b6b6b6;
}

.text-wrapper {
  max-width: 800px;
  padding-left: 100px;
  text-align: justify;
}

.text-wrapper h2 {
  font-size: 48px;
  letter-spacing: 2px;
  color: #333333;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.text-wrapper p {
  color: #333333;
  font-size: 20px;
  line-height: 30px;
}

.grid-photos h2 {
  font-size: 48px;
  letter-spacing: 2px;
  color: #ffff;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.grid-photos {
  background-color: #cf2d34;
  width: 100%;
  height: 90vh;
  padding: 40px;
}

.grid-container {
  position: relative;
  width: 400px;
  cursor: pointer;
}

.grid-container img {
  border-radius: 5px;
}

.picture1 {
  display: block;
  width: 100%;
}

.picture1-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.picture1-overlay:hover {
  opacity: 1;
}

.picture1-title {
  font-size: 2em;
  font-weight: bold;
}

.picture1-description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

footer {
  background-color: #ffff;
  padding: 20px 0px 50px;
  color: #333333;
}

.footer-container {
  margin-inline: auto;
  max-width: 65rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 10px;
}

.logo-container img {
  max-width: 200px;
  margin: auto;
}

.contact-container {
  display: flex;
  align-items: flex-start;
  gap: 90px;
  padding-top: 30px;
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  font-size: 10px;
}

.submenu ul {
  list-style: none;
}

.submenu li a {
  list-style: none;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  line-height: 25px;
}

.submenu h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.contact-info h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.contact-info p {
  font-size: 18px;
}

.social-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.social-fields h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.social-fields p {
  font-size: 18px;
}

.social-fields-icons {
  display: flex;
  gap: 25px;
  font-size: 32px;
  cursor: pointer;
}

#footer_icons:hover {
  font-size: 35px;
}

.instagram-icon {
  color: #bc3c94;
}

.whatsapp-icon {
  color: #53cf60;
}

.button-scroll {
  padding: 0;
  font-size: 45px;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
